.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.idea/
*iml
*.iml
*/build
fastlane
*.apk

app/live/release/output\.json

app/beta/release/output\.json

*.aab

app/beta/debug/output\.json

beta/release/output.json
